
  body{
  	margin: 0px;
  	padding:0px;
	background-color:#0395ab;
	color: #fff;
 }
 h1{
 	margin: 0px 0px 10px 0px;
 	padding: 0px;
 	font-size: 30px;
 	text-align: center;
 	padding: 20px;
 	background-color: #1a395c;
 	color: #fff;
 }
label{
	font-size: 25px;
	padding: 0px 20px;
}
span{
	font-size: 23px;
	border:1px solid grey;
	border-radius: 25px;
	padding: 5px 15px;
}
 input[type=submit]
 {
 	background-color: orange;
 	width: 100px;
 	border:none;
 	border-radius: 10px;
 	height: 35px;
 	margin: 20px 0px 20px 10px;
 	position: relative;
 	left: 20px;
 }

 input[type=text]
 {
 	width: 150px;
 	border:none;
 	border-radius: 25px;
 	height: 35px;
 	
 }

.main{
	display: flex;
	border-left: 3px solid #fff;
	border-bottom: 4px solid #fff;
}

.first-program{
 width: 100%;
 max-width: 31.8%; 
 background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding: 20px;
}

.second-program{
 width: 100%;
 max-width:33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding: 20px;
}

.third-program{
 width: 100%;
 max-width: 33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}



.main-1{
	display: flex;
	border-left: 3px solid #fff;
	border-bottom: 4px solid #fff;

}


.fourth-program{
 width: 100%;
 max-width:33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}

.fifth-program{
 width: 100%;
 max-width: 33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}

.sixth-program{
 width: 100%;
 max-width: 33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}


.main-2{
	display: flex;
	border-left: 3px solid #fff;
	border-bottom: 4px solid #fff;
}


.seventh-program{
 width: 100%;
 max-width:33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}

.eighth-program{
 width: 100%;
 max-width: 31.8%; 
 background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding: 20px;
}

.ninth-program{
 width: 100%;
 max-width: 33.33%; 
background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding:20px;
}

.main-3{
	display: flex;
	border-left: 3px solid #fff;
	border-bottom: 4px solid #fff;
}

.tenth-program{
	width: 100%;
 max-width: 31.1%; 
 background-color: rgba(0,0,0,0.3);
border: none;
border-right: 3px solid #fff;
padding: 20px;
}

.eleventh-program{

    background-color: rgba(0,0,0,0.3);   
    padding: 10px;
    width: 100%;
border-right: 3px solid #fff;
    max-width: 32.08%;
}

input[type=cal]{
	width: 50%;
 	border:none;
 	border-radius: 25px;
 	height: 35px;
 	position: relative;
 	left: 35px;
}

.buttons{
	display: inline-block;
	width: 80%;
}

.buttons input[type=submit]
{
	width: 25%;
}







