body{
	margin: 0px;
	padding: 0px;
	font-family: 'Cinzel', serif;
font-family: 'Spartan', sans-serif;
}

.container {
  position: relative;
}

.container img { 
	width: 100%;
  height:900px;
}
.topleft img{
	width: 200px;
	height: 65px;
}
.topleft{
	position: absolute;
	top: 40px; 
	left: 70px;
}
.topright {
  position: absolute;
  top: 25px;
  right: 100px;
  font-size: 23px;
}

.topright ul{
	display: flex;
	list-style-type: none;
}

.topright a{
	color: #000;
	text-decoration: none;
	padding: 0px 20px;
}
.container-1{
	padding: 40px 0px;
	text-align: center;
}
.container-1 label{
	font-size: 60px;
}
.container-1 hr{
	width: 400px;
}

.grid {
	display: flex;
}

.img{
	width: 40%;
}
.img img{
	width: 600px;
	margin-left: 100px;
	border-radius: 50px;
}

.content{
	width:60%;
	padding: 0px;
}
.content p{
	letter-spacing: 2px;
	font-size: 26px;
}

.img-1{
	width: 40%;
	margin-top: 100px;
}
.img-1 img{
	width: 600px;
	margin-left: 80px;
	border-radius: 50px;

}

.content-1{
	width:60%;
	padding: 0px;
}

.content-1 p{
	
    letter-spacing: 2px;
    font-size: 26px;
    margin-top: 85px;
    position: relative;
    left: 44px;
    top: 40px;
}

.portfolio {
	margin-left: 60px;
}
.portfolio img{
	width: 450px;
	height: 300px;
	padding: 10px 60px;
	border-radius: 20%;
}

.form {
	text-align:center;
	margin-top: 30px;
}

.form form{
	display: inline-block;
	border:1px double rgba(0,0,0,0.5);
	width: 25%;
	padding: 50px 0px;
	border-radius: 45px;
	margin-top: 20px;
}
.form label{
	font-size: 60px;
	margin: 30px 0px;
}
.form hr{
	width: 400px;
}
.form input[type=text], input[type=email], textarea{
	width: 400px;
	height: 30px;
	border:none;
	border-bottom: 1px dotted red;
}

.form button{
	width: 100px;
	height: 35px;
	margin-top:30px;
	border-radius: 50%;
	background-color:skyblue;
	border:none;
}

.form button:hover{
	background-color:orange;
	color:#fff;
}


footer{
	font-size:60px;
	text-align: center;
	background-color:lightgrey;
}