body{
	margin:0px;
	padding:0px;
	 font-family: 'Noto Sans JP', sans-serif;
}

header{
	background-color:rgba(0,0,0,0.3);
}
header ul {
	display:flex;
	float: right;
	width: auto;

}

header ul li {
	list-style-type: none;
	font-size: 16px;
	padding-left:18px;
	font-weight: 600;
	margin-right: 14px;
}
a{
	color: #000;
	text-decoration: none;
}

.main-c{
	background-image: url('images/im.jpg');
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 50px;

}


.content-area{
	width: 900px;
	height: 500px;
	float: center;
	border: 1px solid black;
	margin: 0px 5% 0px 20% ;
	background-color:#a2e8e6;
	padding: 40px 30px 50px 30px;
}
input[type=search]{
	margin-left: 10px;
	width: 70%;
	height:35px;
}

input[type=checkbox]{
	margin-left: -100px;
}
button{
	cursor: pointer;

}
.search-btn{
	width: 100px;
	height: 35px;
	background-color: #69e1ff;
	border: 1px solid #000;
	border-radius: 1px;
}

.filter-btn{
	width: 60px;
	height: 35px;
	background-color:transparent;
	border:1px solid black;
	box-shadow: 10px;
}

.f-hr{
	margin-top: 20px;
	width: 260px;	
}

.heading-area{
	display: flex;
}

.heading-area label{
	width: 33.33%
	
}

.line-area {
	display:inline-flex;
}
 .dot-sec{
	width: 10px;
	height: 10px;
	background-color:#69e1ff;
	border: 1px solid black;
	border-radius: 100%;
	margin-top: 10px;
}

.button-sec button{
	width: 70px;
	height: 30px;
}
.button-sec .btn-1 {

}

.button-sec .btn-2 {
	margin-left: 130px;
}

.button-sec .btn-3 {
	margin-left: 20px;
}

.button-sec .btn-4 {
	margin-left: 130px;
}

.button-sec .btn-5 {
margin-left: 20px;
}

.button-sec .btn-6 {
float: right;
}


.line-area-2 {
	display: inline-flex;

}
.option-1{
	margin-left: 15px;
}

.option-1 select{
	width: 290px;
	height: 30px;
}



.label-d1{
	display: inline-block;
}
.last-select-area1{
	margin-left: 100px;
	margin-top: -69px;
}
	
.label-d2{
	display: inline-block;
	margin-left: 100px;
}
.last-select-area2{
	margin-left: 130px;
	margin-top: -69px;
}
	
.label-d3{
	display: inline-block;
	margin-left: 100px;
}
	

.last-select-area3{
	margin-left: 140px;
	margin-top: -69px;
}
select{
	width: 100px;
	height: 30px;
}
.last-buttons{
	margin-top: 20px;
	float: right;
}

.last-buttons .btn-reset{
	width: 80px;
	height: 32px;
	background-color: transparent;
	border:1px solid #FFF;
}
.last-buttons .btn-submit{
	width: 80px;
	height: 32px;
	background-color:#69e1ff;
	border:1px solid #FFF;
}



.first-grid{
	margin-top: 50px;
	height: auto;
	display: flex;
	padding: 0px 8%;
}

.first-grid img {
	width: 60.33%;
	height: 400px;
	border:1px solid #000;
	margin-top: -11px;
}
.second-grid{
	margin-top: 50px;
	height: auto;
	display:flex;
	padding: 0px 8%;

}

.second-grid img {
	width: 60.33%;
	height: 400px;
	border:1px solid #000;
	margin-top: -11px;
}
.first-image h4{
	width: 305px;
	height: 30px;
	background-color: skyblue;
	margin-bottom: -4px;
	font-size: 20px;
	padding: 10px;
}
.first-image button{
	margin-left: 125px;
	background-color:#69e1ff;
	padding: 4px 15px;
}

.first-image-footer{
	margin-top: -10px;
	padding-top: 10px;
	background-color: grey;
	width:324px;
	height: 30px;
}
.second-image h4{
	width: 305px;
	height: 30px;
	background-color: skyblue;
	margin-bottom: -4px;
	padding: 10px;
	font-size: 20px;
}
.second-image button{
	margin-left: 130px;
	background-color:#69e1ff; 
	padding: 4px 15px;
}

.second-image-footer{
	margin-top: -10px;
	padding-top: 10px;
	background-color: grey;
	width:324px;
	height: 30px;
}
.third-image h4{
	width: 305px;
	height: 30px;
	background-color: skyblue;
	margin-bottom: -4px;
	font-size: 20px;
	padding: 10px;
}
.third-image button{
	margin-left: 130px;
	background-color:#69e1ff;
	padding: 4px 15px;
}

.third-image-footer{
	margin-top: -10px;
	padding-top: 10px;
	background-color: grey;
	width:324px;
	height: 30px;
}

.num ul{
	display:flex;
	list-style-type: none;
	margin-left: 1200px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.num ul li a{
	border:1px solid #000;
	padding: 10px;
	background-color:transparent;

}

footer{
	width: 100%;
	height: 70px;
	background-color: #78b7d6;
}
footer p{
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}