body{
	margin:0px;
	padding:0px;
	 font-family: 'Noto Sans JP', sans-serif;
}

header{
	background-color:rgba(0,0,0,0.3);
}
header ul {
	display:flex;
	float: right;
	width: auto;

}

header ul li {
	list-style-type: none;
	font-size: 16px;
	padding-left:18px;
	font-weight: 600;
	margin-right: 14px;
}
a{
	color: #000;
	text-decoration: none;
}
 label{
 	color: #fff;
 	font-size: 17px;
 }
 button{
 	height: 35px;
 	cursor: pointer;
 }
.back-image img{
	width: 100%;
	max-height: 700px;
}
.box{
	background-color:#3275a8;
	width: 100%;
	max-width:1500px; 
	padding: 15px;
	position:absolute;
	top: 100px;
	left: 180px;
	
}

.first-content{
	display: flex;
	flex-wrap: wrap;
	height: 35px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
}
 input[type=search]{
	width:calc(100% - 200px);
}

.search-btn{
	width: 100px;
	height: 35px;
	background-color: #ff7a7a;
	border:1px solid #fff;
	border:1px #fff;
}

.filter-btn{
	width: 100px;
	height: 35px;
	background-color:transparent;
	border:1px solid #fff;
	border-radius: 2px;
	color: #fff;
}

.second-content {
	width: 100%;
	display:flex;
}

.second-content div {
	width: 33.33%;
}

.first-area .dot-1{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 5px;
	top: 15px;
	z-index: 9;

}
 .first-area .dot-2{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 370px;
	bottom: 13px;
	z-index: 9;
}
 .first-area .line-sec{
	width: 75%;
	color:black;
	height: 1px;
	border: 1px solid #000;
	display: flex;
	position: relative;
	left: 10px;
	z-index: 4;
}

.first-area .btn-fir{
	position:relative;
	top: 10px;
	right: 5px;
}
.first-area .btn-sec{
	position:relative;
	top: 10px;
	left: 245px;
}

.second-area .dot-1{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 5px;
	top: 15px;
	z-index: 9;

}
.second-area .dot-2{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 370px;
	bottom: 13px;
	z-index: 9;
}
 .second-area .line-sec{
	width: 75%;
	color:black;
	height: 1px;
	border: 1px solid #000;
	display: flex;
	position: relative;
	left: 10px;
	z-index: 4;
}

 .second-area .btn-fir{
	position:relative;
	top: 10px;
	right: 5px;
}
.second-area input[type=checkbox]{
	position: relative;
	
}
.second-area span{
	position: relative;
	left: 120px;
}
 .second-area .btn-sec{
	position:relative;
	top: 10px;
	left: 245px;
}

 .third-area .dot-1{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 5px;
	top: 15px;
	z-index: 9;

}
 .third-area .dot-2{
	width: 15px;
	height: 15px;
	background-color:#ff7a7a;
	border:2px solid black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 370px;
	bottom: 13px;
	z-index: 9;
}
 .third-area .line-sec{
	width: 75%;
	color:black;
	height: 1px;
	border: 1px solid #000;
	display: flex;
	position: relative;
	left: 10px;
	z-index: 4;
}

 .third-area .btn-fir{
	position:relative;
	top: 10px;
	right: 5px;
}
 .third-area .btn-sec{
	position:relative;
	top: 10px;
	left: 245px;
}

.third-content {
	width: 100%;
	display:flex;
	margin-top: 30px;
}

.third-content div {
	width: 33.33%;
}
.third-area label{
	margin-top: 20px;
}
.third-area select{
	margin-top: 37px;
	width: 400px;
	height: 35px;

}
.label-d1{
	position: relative;
	color: #fff;
}
.label-d1  select{
	position: relative;
	left: 220px;
	bottom: 66px;
	width: 160px;
}

.label-d2{
	position: relative;
	top: 35px;
	left: 10px;
	color: #fff;
	
}
.label-d2  select{
	position: relative;
	left: 230px;
	bottom: 66px;
	width: 150px;
}

.label-d3{
	position: relative;
	top: 35px;
	left: 10px;
	color: #fff;
}
.label-d3  select{
	position: relative;
	left: 240px;
	bottom: 68px;
	width: 150px;
}
.last-buttons button{
	width: 100px;
}
.last-buttons{
	float: right;
	position: relative;
	right:10px;
}

.btn-submit{
	background-color: #ff7a7a;
	border:none;
}
.btn-reset{
	border:none;
}

.grid-main{
	width: 33.33%;
	display: flex;
	position: relative;
	left: 200px;
	
	
}
.grid-1 img{
	width: 400px;
	height:500px;
	border: 1px solid #fff;
	padding: 30px;
}
.grid-1 .label1{
	position: relative;
	top: 65px;
	left: 32px;
	color: #fff;
	background-color: grey;
	font-size: 20px;
	padding: 10px 260px 10px 0px;
}
.grid-1 .label2{
	position: relative;
	top: 64px;
	left: 27px;
	color: #fff;
	background-color:skyblue;
	font-size: 20px;
	padding: 10px 20px 10px 30px;
}

.grid-1 button{
	position: relative;
	bottom: 0px;
	left: 150px;
	background-color: #ff7a7a;
	width: 100px;
}

.grid-main1{
	width: 33.33%;
	display: flex;
		position: relative;
	left: 200px;
}
.footer-img{
	background-color:skyblue;
	width: 87%;
	position: relative;
	left: 30px; 
	bottom: 70px;
}

.num ul{
	display:flex;
	list-style-type: none;
	margin-left: 1200px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.num ul li a{
	border:1px solid #000;
	padding: 10px;
	background-color:transparent;

}

footer{
	width: 100%;
	height: 70px;
	background-color: #78b7d6;
}
footer p{
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}