*{
	margin:0px;
	padding:0px;font-family: 'Ubuntu', sans-serif;
	
}
a{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
h1{
	color: #fff;
}

h2{
	font-family: 'Inconsolata', monospace;
font-family: 'Rubik', sans-serif;
}

.head-text{
	background-color: #3ab8f2;
	text-align: center;
	padding: 10px 0px;
}
.logo{
	position: relative;
	left: 100px;
	top: 30px;
}
.nav-1 ul {
	display: flex;
	list-style-type: none;
	position: relative;
	left: 600px;
	width: 60%;
	padding:0px 70px;
}

.nav-1 a{
	font-size: 20px;
	font-weight: 600;
	margin-left: 40px;
}
.nav-1 input[type=search]{
	margin-left: 30px;
	border:none;
	border-bottom:1px solid #000;
	border-radius: 6px;
	width:20%;
}

.nav-1 ul i{
	font-size: 25px;
	color:rgb(0,0,0,0.7);
	margin-left:20px;
}
.nav-1 ul i:hover{
	color: #03e6ff;
}

.nav-2{
	margin-top: 20px;
	width: 100%;
	height: 70px;
	background-color: #e6e9eb;
}
.nav-2 ul {
	display: flex;
	list-style-type: none;
	position: relative;
	left: 140px;
	top: 20px;
	font-size: 20px;
	width: 60%;
	letter-spacing:2px;
}

.nav-2 ul li {
	padding: 0px 50px;
}
.nav-2 a{
	font-size: 18px;
	font-weight: 500;
}
.poster img {
	width: 90%;
	height: 600px;
	position:relative;
	left: 100px;
	bottom: -5px;
}
.heading{
	font-size: 40px;
	text-align: center;
	position: relative;
	
}

.brands{
	display: flex;
}

.brands img{
	width: 280px;
	height: 100px;
	border:0.5px solid #03e6ff;
	margin-left: 60px;
	position: relative;
	top: 60px;
	left: 40px;
	padding: 5px;

}

.pictures-2{
	display: flex;
	margin:40px 10%;
}
.pictures-2 img {
	width: 550px;
	margin-left: 90px;
	margin-top: 60px;
	}
.heading-cat{
	text-align: center;
	font-size: 40px;
}

.short-1{

	display: flex;
}
.short-1 img{
	width: 280px;
	height: 150px;
	/*border:0.5px solid #03e6ff;*/
	margin-left: 60px;
	margin-top: 60px;
	position: relative;
	left: 150px;
	padding: 5px;

}

.short-2{
	display: flex;
}

.short-2 img{
	width: 280px;
	height: 150px;
	/*border:0.5px solid #03e6ff;*/
	margin-left: 60px;
	margin-top: 60px;
	position: relative;
	left: 150px;
	padding: 5px;
}

.heading-latest{
	position: relative;
	top: 90px;
	text-align: center;
	font-size: 40px;

}

.four-pictures{
	display: flex;
}

.four-pictures img{
	width: 19%;
	height: 500px;
	position: relative;
	top: 180px;
	left: 100px;
	margin: 0px 30px;
	border:1px solid rgba(0,0,0,0.4);
}

section{
	background-color: #3ab8f2;
	padding: 20px;
}
section:hover{
	background-color: #ffaf63;
}

.search-area{
	background-color: #3ab8f2;
	padding: 20px;
	text-align: center;
	position:relative;
	top: 240px;
}
.search-area h2{
	font-size:30px;
	padding: 10px;
}

.search-area p{
	padding: 10px;
	font-size: 15px;
}

.search-area input[type=email] {
	width: 450px;
	height: 38px;
	border-radius: 35px;
	border:1px solid rgba(0,0,0,0.5);
	padding: 10px;
}

.search-area button{
	width: 100px;
	height: ;
	padding: 15px;
	background-color: rgba(0,0,0,0.9);
	border:none;
	border-radius: 20px;
	color: #fff;
	position: relative;
	right: 109px;
}

.search-area button:hover{
	background-color:#03e6ff;
}

.search-area:hover{
	background-color: #ffaf63;
}

footer{
	
	padding: 10px;
	width:90%;
	height: auto;
	position: relative;
	top: 300px;
	margin:10px 80px;
}
footer div{
	display:inline-flex;
}
label{
	font-size: 25px;
	position: relative;
	left: 330px;
	bottom: 50px;
}
.row-first ul {
	font-size: 19px;
	list-style-type: none;
	position: relative;
	left: 30px;
	top: 30px;
}
.fa{

	color: rgba(0,0,0,0.6);
	margin-left: 5px;
}
.fa :hover{
	color:#03e6ff; 
}
.row-second ul{
	font-size: 19px;
	list-style-type: none;
	position: relative;
	left: 200px;
}
.row-third ul{
	font-size: 19px;
	list-style-type: none;
	position: relative;
	left: 230px;
	
}

.row-first  a{
	color: rgba(0,0,0,0.6);
}
.row-second  a{
	color: rgba(0,0,0,0.6);
}
.row-third  a{
	color: rgba(0,0,0,0.6);
}


.row-first  ul li{ margin-bottom: 15px;  }  	
.row-second	ul li{ margin-bottom: 15px;  }
.row-third	ul li{ margin-bottom: 15px;  }


.last{
	
	font-size: 20px;
	background-color:rgba(0,0,0,0.3);
	position: relative;
	top: 300px;
	display: flex;
	padding: 10px;
}
.last p{
	color: rgba(0,0,0,0.7);
	margin-left: 30px;
}

.last ul{
	display: flex;
	position: relative;
	left: 63%;
	list-style-type: none;
}
.last ul li a{
	color: rgba(0,0,0,0.7);
	padding: 15px;
}	
